.mission-grid {
  display: flex;
  place-items: center;
  justify-content: center;
}

.mission-container {
    position: relative;
    width: 1202px;
    height: 606px;
    align-items: center;

    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
}

.mission h1 {
  position: relative;
  width: 552px;
  height: 55px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  font-family: "FONTSPRING DEMO - Proxima Nova";
  font-style: normal;
  font-weight: 700;
  font-size: 55px;
  line-height: 67px;
  text-align: center;

  color: #000000;
}

.textbox {
  position: relative;
  width: 1130px;
  height: 685px;
  top: 5%;
  left: 3%;

  font-family: "Quicksand";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 30px;
  align-items: start;
  text-align: center;
}

.purple {
  color: #b985fc;
}
