.navbar {
  display: flex;
  justify-content: space-between;
  align-content: center;
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  min-height: 72px;
  background-color: #ebe5f3;
  padding: 10px 20px;
  z-index: 1;
}

.navbar-logo img {
  margin-right: 20px;
  width: 128px;
  height: 72px;
}

.navbar-sections {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.navbar-sections li {
  margin-left: 20px;
}

.navbar-sections li a {
  color: #182c37;
  font-size: 1.1em;
}
