
.cards-container {
  display: flex;
  justify-content: center;
  align-items: start;
  width: 100%;
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 20px;
  padding: 40px 20px 20px 20px;
  margin: 20px;
}

.top-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 50px;
}

.resource-title {
  font-family: "Quicksand";
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 31px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #ffffff;
  margin-bottom: 20px;
}

.desc {
  font-family: "Cabin";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #ffffff;
  margin-left: 10px;
  margin-right: 10px;
}

.mentorship {
  background: #f0d1ff;
}

.community {
  background: #c7ade8;
}

.mailing {
  background: #182c37;
}

.button {
  width: 80%;
  padding: 8px 20px;
  border-radius: 20px;
  border: solid 1.5px rgb(173, 173, 173);
  font-family: "Cabin";
  font-weight: 700;
  font-size: 20px;
  color: #000000;
}

.dropdown-container {
  position: relative;
  z-index: 1;
  margin-top: 100px; /* Set the initial margin */
}

.dropdown {
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 0; /* Remove the margin */
  transition: all 0.2s ease-in-out; /* Add a transition for animation */
}

.dropdown.open {
  margin-top: 40px; /* Set the margin when the dropdown is open */
}

.dropdown button {
  display: flex;
  align-items: center;
  padding: 8px;
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
}

.dropdown .arrow {
  width: 0;
  height: 0;
  margin-left: 8px;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
}

.dropdown .arrow.open {
  border-top: none;
  border-bottom: 5px solid #000;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #fff;
  padding: 8px;
  border: 1px solid #000;
  z-index: 10;
}
