.image-style {
  padding: 10px;
  margin: 20px;
}

.social-subheading {
  font-size: 20px;
  font-weight: lighter;
  text-align: center;
  margin-bottom: 30px;
  color: #182C37;
}

.row {
  justify-content: center;
}
